<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JEE PYQs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pyp-style.css') }}">
</head>

<body>

<header>
    ⚡ JEE Previous Year Papers
    <p>Practice with real exam questions</p>
</header>

<div class="container">

    <div class="card">
        <h3>JEE Main 2024</h3>
        <a href="https://links.mathongo.com/hFUS" target="_blank">
            📄 Open PDF
        </a>
    </div>

    <div class="card">
        <h3>JEE Main 2023</h3>
        <a href="https://links.mathongo.com/Qe0X" target="_blank">
            📄 Open PDF
        </a>
    </div>

    <div class="card">
        <h3>JEE Main 2022</h3>
        <a href="https://links.mathongo.com/FeSn" target="_blank">
            📄 Open PDF
        </a>
    </div>

    <!-- Future -->
    <!--
    <div class="card">
        <h3>JEE Main 2021</h3>
        <a href="#" target="_blank">📄 Open PDF</a>
    </div>
    -->

</div>

<footer>
    📘 Practice smart. Crack JEE.
</footer>

</body>
</html>
